%ul.box
  %li.box
    = image_tag('signup.jpg', :height => "180", :alt => "Sign up now!")
    %h1 Sign up for a free account
    %p With your Canada Vending Services account you can order new vending machines, and request new products and services conveniently online.
  %li.box
    = image_tag('laptop.jpg', :height => "180", :alt => "Sign up now!")
    %h1 Manage Everything Online
    %p No phonecalls or meetings are necessary - do everything from the comfort of your desk.
  %li.box
    = image_tag('snacks.jpg', :height => "180", :alt => "Sign up now!")
    %h1 Get FREE Vending Machine Services!
    %p All our services are 100% free. Get your vending machine stocked with the products YOU want, all free of charge.

