%p We offer a variety of modern, easy-to-use vending machine models. Each one is specially designed to provide fast, convenient access to your favourite snacks and drinks.

%p Our new Extreme Refreshment Center gives you four machines in one: sodas, juices, snacks, microwaveable rntrees and a dollar bill changer. This machine is very compact and provides more options than other commercial machines.
 
%p Our vending machines will provide you with a wide variety of name brand products such as: Coke, Pepsi, 7up natural fruit juice, iced tea, iced coffee, and an assortment of brand name snacks, candy bars, and microwaveable entrees. 

%p You and your associates make the selections of name brand products which are pre-sealed and dated to ensure freshness.
 
%p The Extreme Refreshment Center eliminates the need for employees to run out to local convenience stores for lunch or break time. Think how terrific it will be to just walk down the hall and find the snacks, drinks and entrees of your choice.

%p
  = link_to 'Contact us','pages/contact' 
  now for more details about our equipment.
