= image_tag('vending.jpg', :height => '400', :class => 'float_right')
%p Welcome to Canada Vending Services. We offer free vending machine delivery and maintenance services to Canadian businesses. Most vending machine providers will charge you for product delivery and machine maintenance and repair. Not us! We even let you choose what items you want in your vending machine. 
%p Coming soon: You can request new machines, refills, and new products all using our convenient online service. Simply make an account to request information and custom vending machines today!
%p There is NO cost to you or your business. Make lunch and snack time at your facility easy and hassle free.
%p 
  = link_to 'Contact us','contact' 
  now for more details.

