%h2 Canada Vending Services
%br
%p Welcome to Canada Vending Services. We offer free vending machine delivery and maintenance services and even let you choose what products you want in your vending machine. You can request new machines, refills, and new products all using our convenient online service.

%p Contact us today to receive your free vending machine.
