%p Our free vending machines are stocked with a wide variety of name-brand drinks, snacks and entrees that are sealed and dated to ensure freshness and quality. They include, but are not limited to:
= image_tag('snacks.jpg', :height => '400', :class => 'float_right')
%strong Sodas
%ul
  %li
    Coke
  %li
    7up
  %li
    Dr. Pepper
  %li
    Iced Tea
  %li
    Cream Soda

%strong Chips
%ul
  %li Doritos
  %li Lay's
  %li Ms. Vicki's
  %li Cheetos

%strong Chocolate
%ul
  %li Caramilk
  %li Reese's Pieces
  %li Mars Bars
  %li Snickers
  %li Cookies and Cream  

%strong Candy
%ul
  %li Skittles
  %li Fuzzy Peaches
  %li Swedish Berries
  %li Nerds
  %li Cherry Blasters

%strong Entrees
%ul
  %li Sandwiches
  %li English muffins
  %li Bagels
