%p Our service is absolutely FREE, no leasing or rental fees. We service the machines at least once a week and we can cater to your needs.
 
%p Our new Refreshment Center gives you four machines in one...Sodas, Juices, Snacks, Microwaveable Entrees and a Dollar Bill Changer. This machine is very compact and provides more options than other commercial machines.
 
%p Our machine can provide you with a greater variety of name brand products. Coke, Pepsi, and 7up...natural juices, iced teas, ice coffees, and many other assortments of brand name snacks, candy bars, and microwaveable entrees. 

%p You get to choose what you want in the Refreshment Center. You and your associates make the selections of name brand products which are pre-sealed and dated to ensure freshness.
 
%p The  Refreshment Center eliminates the need for employees to run out to local convenience stores for lunch or break time. Think how terrific it will be to just walk down the hall and find the snacks, drinks and entrees of your choice.All our services are free.
