%p Our service is absolutely FREE. There are no leasing or rental fees. To receive your vending machine all you need to do is contact us with details about your location. A representative will then be in touch within 1-3 business days to answer any questions you may have and finalize your request. 

%p We service the machines at least once a week (free of charge) and we can cater to any special needs you may have.

%p
  = link_to 'Contact us','pages/contact' 
  now for more details.
